<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Show Detatil # {{ show.id }}</h4>
                    </div>
                    <div class="card-body">
                        <div class="col-md-12">
                            <div class="card card-profile">
                                <div class="">
                                    <a href="#">
                                        <img src="{{ show.image?.medium }}" />
                                    </a>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">{{ show.name }}</h4>
                                    <p class="card-description">
                                        {{ show.summary }}
                                    </p>
                                    <a href="#" [routerLink]="['/shows']" class="btn btn-danger btn-round">Come back</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Show Info</h4>
                    </div>
                    <div class="card-body">
                        <div class="col-md-12">
                            <div class="card card-profile">
                                <div class="card-body">
                                    <h6 class="card-category text-gray">Network: {{ show.network?.name }} {{ show.network?.country.name }}</h6>
                                    <h6 class="card-category text-gray">Type: {{ show.type }}</h6>
                                    <h6 class="card-category text-gray">Language: {{ show.language }}</h6>
                                    <h6 class="card-category text-gray">Status: {{ show.status }}</h6>
                                    <h6 class="card-category text-gray">Runtime: {{ show.runtime }}</h6>
                                    <h6 class="card-category text-gray">Schedule Days: {{ show.schedule?.days }}</h6>
                                    <h6 class="card-category text-gray">Schedule Time: {{ show.schedule?.time }}</h6>
                                    <h6 class="card-category text-gray">Offcial Site
                                        <a href="{{ show.officialSite}}" target="_blank">Link</a>
                                    </h6>
                                    <button mat-icon-button color="accent" *ngFor="let ratingId of ratingArr; index as i">
                                        <mat-icon>
                                            {{showIcon(i)}}
                                        </mat-icon>
                                    </button>
                                    <mat-error *ngIf="starCount == null || starCount == 0">
                                        Star count is <strong>required</strong> and cannot be zero
                                    </mat-error>
                                    <h6 class="card-category text-gray">Genres
                                        <div *ngFor="let genre of show.genres">
                                            {{ genre }}
                                        </div>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>